.header {
    text-align:center;
}
.container {
    padding:25px;
    width:1024px;
}
.row {
    margin-bottom:2px;
    text-align:center;
}
.xs-8 {
    width:66%;
}
.xs-4 {
    width:33%;
}
#info {
    overflow:hidden;
    max-height:200px;
}
#info p {
    text-align:left;
}
.well {
    padding-top:0;
}
